// **该文件会被src/commom/reset.scss 引用**
// ---------scss全局变量-----------
// 基础设置
$font-family: Hiragino Sans GB, STHeiti, Microsoft Yahei, sans-serif;
$base-font-size: 14px;
$base-font-color: #586062;

// ------------------定制化设置------------------

// -----色彩-----
// global
$main-color: #42bd56;
$font-color-1: #111;
$font-color-2: #aaa;
$font-color-3: #ccc;
$bottom-line-color: #f5f5f5;

// -----布局-----
$header-height: .6rem;
// 只使用一次的颜色不要写在这里







